.roundEdge{
    border-radius: 20%;
}

.teamPic {
    width: 320px;
}

.subH {
    font-size: 20px;
}

.catsub {
    font-size: 85px;
}

.thick {
    border-bottom:10px solid white;
}

.logo {
    color: black; 
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    padding-top: 10px;
    text-transform: uppercase;
}

.red {
    color: coral;
    background-color: coral;
    border-radius: 100%
}

.dark {
    color: black;
    outline-color: black;
}


img.grayscale:hover {
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.bigPic {
    max-width: 100px;
    width: 120%;
    border-radius: 100%;
}

/*all headers at top*/

.condensed {
    font-weight:600;
    font-family: times new roman;
    letter-spacing: -.3vw; 
    color: white;
    font-size: 80px;
    line-height: 80%;
    padding-left: 25%;
    padding-top: 2%;
    padding-right: 5%;
}

.title-logo
{   
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: -2px; 
    color: black;
    font-size: 90px;
    padding-right: 35%;
    padding-top: 2%;
    line-height: 80%;
    text-align: right;
    float: right;
}

.headerDivider {
    background-color: white;
    height: 190px;
    width: 2px;
    float: left;
}

.newbtn{
    border-radius: 0%;
    display: block;
    clear: both;
    padding: 1%;
    width: 20%;
    margin-top: 2%;
}

.header-container
{   
    background-image: url("../img/backdrops/starter%20shrimp%20faded2.jpg");
    overflow: hidden;
    margin-top: 0%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.contain{
    padding-top: 8%;
    padding-bottom: 3%;
}

#intro{
    padding: 0%;
}

/*all headers at top END*/

.center {
    align-items: center;
}

.scootL{
    padding-left: 200px;
}

.shortSection {
    line-height:-150px;
}

.fitPic {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

darkBG {
    background-color: black;
    outline-color: black;
}

.navbar-default {
    height: auto;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.btn .btn-success .input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button .btn-new{
    background-color: #fff;
    border-color: #fff;
    color: black;
    border-radius: 0px;
    font-size: 20px;
}

/* mobile iphone 5: */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      
    /*.navbar-default .nav li a{
        color: white;
    }*/
      
    .logo{
        color: black;
        position: absolute;
        font-size: 10px;
        padding-left: 2%;
    }

    .newbtn{
        display: block;
        clear: both;    
        border-radius: 0%;    
        font-size: 10px;
        margin-top: 5%;
        text-align: center;
        padding: 2%;
        width: 40%;
        padding-left: 2%;
    }
      .condensed {
        font-size: 21px;
        padding-left: 19%;
        padding-top: 0%;
        width: 100%;
        position: absolute;
    }
    
      .title-logo
    {   
        font-size: 23px;
        padding-top: 0%;
        padding-right: 0%;
    }
    
      .col-xs-5{
          width: 40%;
      }
      
      .col-xs-1{
          width: 5%;
      }
      
      .headerDivider{
          height: 60px;
          margin-top: 0%;
          margin-left: 20%;
          float: right;
          position: absolute;
      }
    
      .contain{
          padding-top: 20%;
          padding-left: 10%;
          width: 100%;
          overflow: hidden;
      }
    
      #intro {
          padding-top: 0%;
      }
}
    

/* iphone 6 landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      .logo{
        color: black;
        position: absolute;
        font-size: 13px;
        padding-left: 2%;
    }
    
      .newbtn{
        display: block;
        clear: both;    
        border-radius: 0%;    
        font-size: 10px;
        margin-top: 10%;
        text-align: center;
        padding: 2%;
        margin-right: 10%;
    }
      
   .condensed {
        font-size: 38px;
        padding-left: 19%;
        padding-top: 0%;
        width: 100%;
        position: absolute;
    }
    
      .title-logo
    {   
        font-size: 40px;
        padding-top: 2%;
        padding-right: 0%;
    }
    
      .col-xs-5{
          width: 40%;
      }
      
      .col-xs-1{
          width: 5%;
      }
      
      .headerDivider{
          height: 110px;
          margin-top: 0%;
          margin-left: 20%;
          float: right;
          position: absolute;
      }
    
      .contain{
          padding-top: 20%;
          padding-left: 10%;
          width: 100%;
          overflow: hidden;
      }
    
      #intro {
          padding-top: 0%;
      }
}

/* mobile iphone 6+ portrait*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      
    /*.navbar-default .nav li a{
        color: white;
    }*/
      
    .logo{
        color: black;
        position: absolute;
        font-size: 10px;
        padding-left: 2%;
    }

    .newbtn{
        display: block;
        clear: both;    
        border-radius: 0%;    
        font-size: 10px;
        margin-top: 5%;
        text-align: center;
        padding: 2%;
        width: 40%;
        padding-left: 2%;
    }
      .condensed {
        font-size: 24px;
        padding-left: 19%;
        padding-top: 0%;
        width: 100%;
        position: absolute;
    }
    
      .title-logo
    {   
        font-size: 27px;
        padding-top: 3%;
        padding-right: 0%;
    }
    
      .col-xs-5{
          width: 40%;
      }
      
      .col-xs-1{
          width: 5%;
      }
      
      .headerDivider{
          height: 70px;
          margin-top: 0%;
          margin-left: 20%;
          float: right;
          position: absolute;
      }
    
      .contain{
          padding-top: 20%;
          padding-left: 10%;
          width: 100%;
          overflow: hidden;
      }
    
      #intro {
          padding-top: 0%;
      }
}


/* iphone 6+ landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

      .logo{
        color: black;
        position: absolute;
        font-size: 13px;
        padding-left: 2%;
    }
    
      .newbtn{
        display: block;
        clear: both;    
        border-radius: 0%;    
        font-size: 10px;
        margin-top: 10%;
        text-align: center;
        padding: 2%;
        margin-right: 10%;
    }
      
   .condensed {
        font-size: 38px;
        padding-left: 19%;
        padding-top: 0%;
        width: 100%;
        position: absolute;
    }
    
      .title-logo
    {   
        font-size: 40px;
        padding-top: 2%;
        padding-right: 0%;
    }
    
      .col-xs-5{
          width: 40%;
      }
      
      .col-xs-1{
          width: 5%;
      }
      
      .headerDivider{
          height: 110px;
          margin-top: 0%;
          margin-left: 20%;
          float: right;
          position: absolute;
      }
    
      .contain{
          padding-top: 20%;
          padding-left: 10%;
          width: 100%;
          overflow: hidden;
      }
    
      #intro {
          padding-top: 0%;
      }
}



/*tablet*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .logo{
        color: darkgray;
        font-size: 13px;
        padding-left: 2%;
          padding-right: 0%;
          width: 300px;
        display: block;
        clear: both;
    }
    
      .newbtn {
        display: block;
        clear: both;    
        border-radius: 0%;    
        font-size: 10px;
        margin-top: 10%;
        text-align: center;
        padding: 2%;
        margin-right: 10%;
    }
      
   .condensed {
        font-size: 48px;
        padding-left: 9%;
        padding-top: 0%;
        width: 100%;
        position: absolute;
    }
    
      .title-logo
    {   
        font-size: 48px;
        padding-top: 6%;
        padding-right: 0%;
    }
    
      .col-xs-5{
          width: 40%;
      }
      
      .col-xs-1{
          width: 5%;
      }
      
      .headerDivider{
          height: 150px;
          margin-top: 0%;
          margin-left: 20%;
          float: right;
          position: absolute;
      }
    
      .contain{
          padding-top: 20%;
          padding-left: 10%;
          width: 100%;
          overflow: hidden;
      }
    
      #intro {
          padding-top: 0%;
      }
    
}