.roundEdge{
    border-radius: 20%;
}

.teamPic {
    width: 320px;
}

.subH {
    font-size: 20px;
}

.catsub {
    font-size: 85px;
}

.thick {
    border-bottom:10px solid white;
}

.logo {
    color: black; 
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    padding-top: 10px;
    text-transform: uppercase;
}

.red {
    color: coral;
    background-color: coral;
    border-radius: 100%
}

.dark {
    color: black;
    outline-color: black;
}


img.grayscale:hover {
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.bigPic {
    max-width: 100px;
    width: 120%;
    border-radius: 100%;
}

/*all headers at top*/

.condensed {
    font-weight:600;
    font-family: times new roman;
    letter-spacing: -.3vw; 
    color: white;
    font-size: 80px;
    line-height: 80%;
    padding-left: 20%;
    padding-top: 2%;
}

.title-logo
{   
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: 600;
    letter-spacing: -2px; 
    color: black;
    font-size: 80px;
    padding-right: 25%;
    padding-top: 2%;
    line-height: 80%;
    text-align: right;
    float: right;
}

.headerDivider {
    background-color: white;
    height: 190px;
    width: 2px;
    float: left;
}

.newbtn{
    border-radius: 0%;
    display: block;
    clear: both;
    padding: 1%;
    width: 20%;
    margin-top: 25%;
}

.header-container
{   
    background-image: url("../img/backdrops/starter%20shrimp%20faded2.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    padding-top: 8%;
    padding-bottom: 3%;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*all headers at top END*/

.center {
    align-items: center;
}

.scootL{
    padding-left: 200px;
}

.shortSection {
    line-height:-150px;
}

.fitPic {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

darkBG {
    background-color: black;
    outline-color: black;
}

.navbar-default {
    height: auto;
    display: block;
    clear: both;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .logo{
        color: white;
        position: absolute;
        padding-top: 3%;
        font-size: 15px;
        padding-left: 2%;
    }

    /*.navbar-default .nav li a{
        color: white;
    }*/

    .newbtn{
        display: block;
        clear: both;    
        border-radius: 0%;    
        font-size: 10px;
        margin-top: 35%;
        text-align: center;
        padding: 2%;
        width: 40%;
    }
      .condensed {
        font-size: 30px;
    }
    
      .title-logo
    {   
        font-size: 30px;
    }

}
    
    /*tablet*/
@media only screen and (max-width: 1000px){
    .condensed {
        font-size: 42px;
        padding-top:20%;
        width: 100%;
    }
    
    .headerDivider {
        background-color: white;
        height: 130px;
        width: 2%;
        text-align: center;
    }

    .title-logo
    {   
        font-size: 50px;
        padding-top:20%;
    }

    .logo{
        font-size: 12px;
        margin: 0%;
        color: gray;
        padding: 0%;
    }
    
    .navbar-default .nav li a{
        color: black;
        font-size: 12px;
        position: relative;
    }

    .newbtn{
        display: block;
        clear: both;   
        position: relative;
        border-radius: 0%;    
        font-size: 10px;
        margin-top: 35%;
        text-align: center;
        padding: 2%;
        width: 30%;
    }
    
}