<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/7132391727_767f07eaa4_o.jpg"
	thumbURL="thumbs/7132391727_767f07eaa4_o.jpg"
	linkURL="images/7132391727_767f07eaa4_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/7132391727_767f07eaa4_o.jpg"

>
    <title><![CDATA[7132391727_767f07eaa4_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Paragraphs.jpg"
	thumbURL="thumbs/Paragraphs.jpg"
	linkURL="images/Paragraphs.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/Paragraphs.jpg">
    <title><![CDATA[Paragraphs]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6841400061_000a5d5f1a_o.jpg"
	thumbURL="thumbs/6841400061_000a5d5f1a_o.jpg"
	linkURL="images/6841400061_000a5d5f1a_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/6841400061_000a5d5f1a_o.jpg">
    <title><![CDATA[6841400061_000a5d5f1a_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6841405167_3e77b0541c_o.jpg"
	thumbURL="thumbs/6841405167_3e77b0541c_o.jpg"
	linkURL="images/6841405167_3e77b0541c_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/6841405167_3e77b0541c_o.jpg">
    <title><![CDATA[6841405167_3e77b0541c_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14115224994_e7a5426734_o.jpg"
	thumbURL="thumbs/14115224994_e7a5426734_o.jpg"
	linkURL="images/14115224994_e7a5426734_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/14115224994_e7a5426734_o.jpg">
    <title><![CDATA[14115224994_e7a5426734_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11710997765_d117b50ee0_o.jpg"
	thumbURL="thumbs/11710997765_d117b50ee0_o.jpg"
	linkURL="images/11710997765_d117b50ee0_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/11710997765_d117b50ee0_o.jpg">
    <title><![CDATA[11710997765_d117b50ee0_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11710992995_6222ab715e_o.jpg"
	thumbURL="thumbs/11710992995_6222ab715e_o.jpg"
	linkURL="images/11710992995_6222ab715e_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/11710992995_6222ab715e_o.jpg">
    <title><![CDATA[11710992995_6222ab715e_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11711234413_a8057d2782_o.jpg"
	thumbURL="thumbs/11711234413_a8057d2782_o.jpg"
	linkURL="images/11711234413_a8057d2782_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/11711234413_a8057d2782_o.jpg">
    <title><![CDATA[11711234413_a8057d2782_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11711749026_4afa74bdde_o.jpg"
	thumbURL="thumbs/11711749026_4afa74bdde_o.jpg"
	linkURL="images/11711749026_4afa74bdde_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/11711749026_4afa74bdde_o.jpg">
    <title><![CDATA[11711749026_4afa74bdde_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14124639244_21a8d79a60_o.jpg"
	thumbURL="thumbs/14124639244_21a8d79a60_o.jpg"
	linkURL="images/14124639244_21a8d79a60_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/14124639244_21a8d79a60_o.jpg">
    <title><![CDATA[14124639244_21a8d79a60_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14121316232_b63e6623d2_o.jpg"
	thumbURL="thumbs/14121316232_b63e6623d2_o.jpg"
	linkURL="images/14121316232_b63e6623d2_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/14121316232_b63e6623d2_o.jpg">
    <title><![CDATA[14121316232_b63e6623d2_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16393720178_3f8e097a68_o.jpg"
	thumbURL="thumbs/16393720178_3f8e097a68_o.jpg"
	linkURL="images/16393720178_3f8e097a68_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/16393720178_3f8e097a68_o.jpg">
    <title><![CDATA[16393720178_3f8e097a68_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16393719428_109a486d93_o.jpg"
	thumbURL="thumbs/16393719428_109a486d93_o.jpg"
	linkURL="images/16393719428_109a486d93_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/16393719428_109a486d93_o.jpg">
    <title><![CDATA[16393719428_109a486d93_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16554956906_53e74ae404_o.jpg"
	thumbURL="thumbs/16554956906_53e74ae404_o.jpg"
	linkURL="images/16554956906_53e74ae404_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/16554956906_53e74ae404_o.jpg">
    <title><![CDATA[16554956906_53e74ae404_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/starter shrimp.jpg"
	thumbURL="thumbs/starter shrimp.jpg"
	linkURL="images/starter shrimp.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/starter shrimp.jpg">
    <title><![CDATA[starter shrimp]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sandwich tray.jpg"
	thumbURL="thumbs/sandwich tray.jpg"
	linkURL="images/sandwich tray.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/sandwich tray.jpg">
    <title><![CDATA[sandwich tray]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/dessert1.jpg"
	thumbURL="thumbs/dessert1.jpg"
	linkURL="images/dessert1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/dessert1.jpg">
    <title><![CDATA[dessert1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7210575624_ce7d1d958e_o.jpg"
	thumbURL="thumbs/7210575624_ce7d1d958e_o.jpg"
	linkURL="images/7210575624_ce7d1d958e_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/7210575624_ce7d1d958e_o.jpg">
    <title><![CDATA[7210575624_ce7d1d958e_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6986307302_45bc261d4c_o.jpg"
	thumbURL="thumbs/6986307302_45bc261d4c_o.jpg"
	linkURL="images/6986307302_45bc261d4c_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/6986307302_45bc261d4c_o.jpg">
    <title><![CDATA[6986307302_45bc261d4c_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3a1.jpg"
	thumbURL="thumbs/3a1.jpg"
	linkURL="images/3a1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/3a1.jpg">
    <title><![CDATA[3a1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14.jpg"
	thumbURL="thumbs/14.jpg"
	linkURL="images/14.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/14.jpg">
    <title><![CDATA[14]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16.jpg"
	thumbURL="thumbs/16.jpg"
	linkURL="images/16.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/16.jpg">
    <title><![CDATA[16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3a.jpg"
	thumbURL="thumbs/3a.jpg"
	linkURL="images/3a.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/3a.jpg">
    <title><![CDATA[3a]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/18.jpg"
	thumbURL="thumbs/18.jpg"
	linkURL="images/18.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/18.jpg">
    <title><![CDATA[18]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/3.jpg">
    <title><![CDATA[3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20.jpg"
	thumbURL="thumbs/20.jpg"
	linkURL="images/20.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/20.jpg">
    <title><![CDATA[20]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7.jpg"
	thumbURL="thumbs/7.jpg"
	linkURL="images/7.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/7.jpg">
    <title><![CDATA[7]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/22.jpg"
	thumbURL="thumbs/22.jpg"
	linkURL="images/22.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/22.jpg">
    <title><![CDATA[22]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/19.jpg"
	thumbURL="thumbs/19.jpg"
	linkURL="images/19.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/19.jpg">
    <title><![CDATA[19]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/1.jpg">
    <title><![CDATA[1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6813419651_d646bb15c2_o.jpg"
	thumbURL="thumbs/6813419651_d646bb15c2_o.jpg"
	linkURL="images/6813419651_d646bb15c2_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/6813419651_d646bb15c2_o.jpg">
    <title><![CDATA[6813419651_d646bb15c2_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/sldk.jpg"
	thumbURL="thumbs/sldk.jpg"
	linkURL="images/sldk.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/sldk.jpg">
    <title><![CDATA[sldk]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/24.jpg"
	thumbURL="thumbs/24.jpg"
	linkURL="images/24.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/24.jpg">
    <title><![CDATA[24]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13928200488_9b707d2792_o.jpg"
	thumbURL="thumbs/13928200488_9b707d2792_o.jpg"
	linkURL="images/13928200488_9b707d2792_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/13928200488_9b707d2792_o.jpg">
    <title><![CDATA[13928200488_9b707d2792_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13928173409_59e2861aaf_o.jpg"
	thumbURL="thumbs/13928173409_59e2861aaf_o.jpg"
	linkURL="images/13928173409_59e2861aaf_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/13928173409_59e2861aaf_o.jpg">
    <title><![CDATA[13928173409_59e2861aaf_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13928150947_3bfceec472_o.jpg"
	thumbURL="thumbs/13928150947_3bfceec472_o.jpg"
	linkURL="images/13928150947_3bfceec472_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/13928150947_3bfceec472_o.jpg">
    <title><![CDATA[13928150947_3bfceec472_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13928209310_d34a825d47_o.jpg"
	thumbURL="thumbs/13928209310_d34a825d47_o.jpg"
	linkURL="images/13928209310_d34a825d47_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/13928209310_d34a825d47_o.jpg">
    <title><![CDATA[13928209310_d34a825d47_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/24834084060_678edcfaee_o.jpg"
	thumbURL="thumbs/24834084060_678edcfaee_o.jpg"
	linkURL="images/24834084060_678edcfaee_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/24834084060_678edcfaee_o.jpg">
    <title><![CDATA[24834084060_678edcfaee_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/main.jpg"
	thumbURL="thumbs/main.jpg"
	linkURL="images/main.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/main.jpg">
    <title><![CDATA[main]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/27.jpg"
	thumbURL="thumbs/27.jpg"
	linkURL="images/27.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/27.jpg">
    <title><![CDATA[27]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/main20.jpg"
	thumbURL="thumbs/main20.jpg"
	linkURL="images/main20.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/main20.jpg">
    <title><![CDATA[main20]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/main16.jpg"
	thumbURL="thumbs/main16.jpg"
	linkURL="images/main16.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/main16.jpg">
    <title><![CDATA[main16]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/appetizer3.jpg"
	thumbURL="thumbs/appetizer3.jpg"
	linkURL="images/appetizer3.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/appetizer3.jpg">
    <title><![CDATA[appetizer3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20141213_140551.jpg"
	thumbURL="thumbs/20141213_140551.jpg"
	linkURL="images/20141213_140551.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/20141213_140551.jpg">
    <title><![CDATA[20141213_140551]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13937704698_8e477a611d_o.jpg"
	thumbURL="thumbs/13937704698_8e477a611d_o.jpg"
	linkURL="images/13937704698_8e477a611d_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/13937704698_8e477a611d_o.jpg">
    <title><![CDATA[13937704698_8e477a611d_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/9.jpg"
	thumbURL="thumbs/9.jpg"
	linkURL="images/9.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/9.jpg">
    <title><![CDATA[9]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30.jpg"
	thumbURL="thumbs/30.jpg"
	linkURL="images/30.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/30.jpg">
    <title><![CDATA[30]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7132390653_d163abe847_o.jpg"
	thumbURL="thumbs/7132390653_d163abe847_o.jpg"
	linkURL="images/7132390653_d163abe847_o.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/7132390653_d163abe847_o.jpg">
    <title><![CDATA[7132390653_d163abe847_o]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/12.jpg"
	thumbURL="thumbs/12.jpg"
	linkURL="images/12.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/12.jpg">
    <title><![CDATA[12]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_8132.jpg"
	thumbURL="thumbs/IMG_8132.jpg"
	linkURL="images/IMG_8132.jpg"
	linkTarget="_blank"
	sourcePath="/Users/LaurenSlyman/Desktop/new cafe website/startbootstrap-agency-1.0.6/img/images/IMG_8132.JPG">
    <title><![CDATA[IMG_8132]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>